/* 设置页眉 */
header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;

    background-color: rgb(147, 191, 200);
    border-bottom: 2px solid rgb(192, 192, 192);
}
/* logo */
#logo {
    display: block;
    width: 140px;

    position: absolute;
    top: 15px;
    left: 40px;

    color: white;
    font-size: 30px;
    letter-spacing: 1px;
}
/* 搜索按钮 */
#search,
#home-page,
#personal {
    display: inline-block;
    height: 60px;
    width: 60px;

    position: absolute;

    top: 10px;
    border: 1px solid black;
}

#search {
    left: 300px;
}

#home-page {
    right: 120px;
}

#personal {
    right: 40px;
}

#search-box {
    display: none;
    width: 1100px;
    height: 40px;

    position: absolute;
    top: 20px;
    left: 370px;

    font-size: 15px;
    text-indent: 5px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(192, 192, 192);
}
