#list {
    width: 1160px;

    margin: 0 auto;

    background-color: rgb(255, 255, 255);

    border-radius: 10px;
}

#list > ul {
    list-style-type: none;
}

.list-cont {
    height: 60px;
    width: 1120px;

    margin-left: 20px;

    border-bottom: 2px solid rgb(195, 214, 227);
}

#list-head {
    width: 1160px;
    height: 60px;

    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(230, 241, 246);
}

#list-head > section,
.list-cont > section {
    height: 50px;

    float: left;
    margin-top: 5px;
    line-height: 50px;
}

.sort {
    width: 600px;

    margin-left: 20px;
}

.atc-name {
    width: 600px;
}

/* 作者栏 */
.author {
    width: 150px;
}

.author > * {
    float: left;

    line-height: 20px;
}

.author-time,
.author-name {
    height: 20px;
}
/* 作者名称 */
.author-name {
    color: black;
}
/* 最后发布时间 */
.author-time {
    margin-top: 10px;

    color: grey;
}
/* 作者头像 */
.head-picture {
    width: 40px;
    height: 40px;

    margin-top: 5px;
    margin-right: 5px;
    border: 2px solid rgb(153, 153, 153);
}

.plate-name {
    width: 100px;
}

.respond {
    width: 100px;
}

.respond section {
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}

.respond > :first-child {
    color: rgb(85, 132, 143);
}

.respond > :last-child {
    color: rgb(153, 153, 153);
}

.last-release {
    width: 100px;

    color: rgb(153, 153, 153);
}

.list-cont > section > a {
    color: black;
    line-height: 25px;
    text-decoration: none;
}

.list-cont > section a:hover {
    color: blue;
    border-bottom: 1px solid blue;
}
