#category {
    height: 200px;
    width: 1160px;

    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 20px;

    border-radius: 10px;

    background-color: white;
}

#category > a {
    width: 50%;
    height: 60px;

    float: left;
    margin-top: 5px;

    border-bottom: 2px dashed rgb(167, 177, 180);
}

#category > a:hover {
    background-color: rgba(212, 247, 247, 0.616);
}

.cate {
    float: left;

    color: black;
}

.cate-picture {
    height: 50px;
    width: 50px;

    float: left;
    margin-top: 5px;
    margin-right: 10px;

    border: 1px solid black;
}

.category-name {
    height: 30px;
    width: max-content;
}

.last-article {
    height: 30px;
}

.last-atc-name {
    margin-right: 10px;
}

.last-article-time {
    color: rgb(153, 153, 153);
}

.cate-quantity {
    height: 30px;
    width: 20px;

    float: left;
}
